/* Styling für die Uhr */
#uhr {
  font-size: 3em;         /* Große Schrift */
  color: #17d4fe;         /* Blaue Farbe */
  letter-spacing: 7px;    /* Abstand zwischen den Ziffern */
  text-align: center;     /* Zentriert */
  margin-top: 20vh;       /* Abstand von oben */
}
